.First{
    display:flex;
    
}
.container1{
    width:50%;
}
.container1 img{
    display: flex;
    margin: auto;
    margin-top: 20%;
}
.container2{
    width:50%;
}

.para1{
    margin-top: 30%;
}
.second{
    background-color: black;
   color: white;
    height:150px;
    margin-top:100px; 
}
.bocket{
    display: flex;
}
.one{
width:25%;
margin: 15px;
margin-top: 30px;
margin-left: 45px;
background-color: rgb(39, 38, 38);
}
.two{
width:25%;
margin: 15px;
margin-top: 30px;
background-color: rgb(39, 38, 38);

}
.three{
width:25%;
margin: 15px;
margin-top: 30px;
background-color: rgb(39, 38, 38);
}
.four{
width:25%;
margin:15px;
margin-top: 30px;
margin-right: 45px;
background-color: rgb(39, 38, 38);
}
.jest{
    margin-left: 20px;
}

.third{
    margin-top: 100px;
    width:100%;
    
}
.third h1{
    display: flex;
    justify-content: center;
}
.fourth{
    display: flex;
}
.pic1{
    /* border:2px solid black; */
    margin-left:15px;
}
.pic2{
    /* border:2px solid black; */
    margin-left: 15px;
}
.pic3{
    /* border:2px solid black; */
    margin-left: 15px;
}
.pic4{
    /* border:2px solid black; */
    margin-left: 15px;
}
.ok{
    display:flex;
    justify-content: center;
}
.fifth{
    /* display: flex; */
    background-color: rgb(202, 202, 202);
    height:1000px;
    margin-top: 100px;

}
.sard{
    display: flex;
}
.card1{
   background-color: white;
    margin-top: 100px;
    margin-left: 100px;  
    width: 320px;
    margin-bottom: 20px;
    height:400px;
    /* display: flex; */
}
.card2{
   background-color: white;
    margin-left: 50px;   
    width: 320px;
    margin-top: 100px;
    margin-bottom: 20px;
    height:400px;
}
.card3{
    margin-left: 50px;
    background-color: white;
    width: 320px;
    margin-right: 100px;
    margin-top: 100px;
    margin-bottom: 20px;
    height:400px;
}
.header{
   margin-top: 25px; 
   margin-left: 25px;
   margin-right: 15px;
}
.fifth p{
    margin-left: 25px;
    margin-right: 15px; 
}
.rest{
    margin-left: 25px;  
}
.card1 img{
    height: 200px;
    width: 50%;   
}
.card2 img{
    height: 200px;
    width: 50%;
}
.card3 img{
    height: 200px;
    width: 50%;
}
.black{
    display: flex;
    margin-top: 200px;
    height:200px;
    background-color: black;
    color: white;
}
.heading{
    width:70%;
    margin-left: 8%;
    margin-top: 80px;
}
.boot{
    width:30%;
    margin-top: 80px;
}
.hendry{
    margin-left: 280px;
    color: black;
    margin-top: 20px;
}
.sixth{
    margin-top: 200px;
}
.sixth h1{
    display: flex;
    justify-content: center;
    color: black;
}
.sixth img{
    display: flex;
    margin: auto;
}
.trend{
    display: flex;
}
.int1{
 margin-left: 15px;
}
.int2{
margin-left: 15px;
}
.int3{
    margin-left: 15px;
}
.int4{
    margin-left: 15px;
}
.eight{
    margin-top:150px;
    background-color:rgb(235, 231, 231);
    height: 800px;
}
.eight h1{
    padding-top:100px;
    color: black;
    display: flex;
    justify-content: center;
}
.customer{
    display: flex;
    margin-top: 200px;
    height:400px;
    
}
.review1{
    height:400px;
    width:35%;
    margin:20px;
    background-color: white;
    
}
.review1 p{
    font-size: 24px;
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 40px;

}
.review2{
    height:400px;
    margin-top: -16px;
   
}
.review3{
    height:400px;
    width:35%;
    margin: 20px;
    background-color: white;
}
.review3 p{
    font-size: 24px;
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 40px;
}
.ninth{
    height: 400px;
    background-color: #eee1d4;
}
.foot{
    display: flex;
}
.part1{
    width:40%;
    margin-left: 50px;
}
.part3{
    width:40%;
    margin-left: 200px;
}
.part2{
    margin-top: 100px;
}
.part2 img{
    margin-left: 50px;
}

.part2{
    width:20%;
}
.footer{
    background-color: #eee1d4;
    border: 2px solid white;
   
}

